@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-radius: 0;
    transition: none !important;
  }

  html {
    background-color: #ffffff;
  }

  body {
    margin: 0;
    color: #475569;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
  }
}
